asttokens==3.0.0
click==8.1.8
colorama==0.4.6
comm==0.2.2
debugpy==1.8.13
decorator==5.2.1
executing==2.2.0
ipykernel==6.29.5
ipython==9.0.2
ipython_pygments_lexers==1.1.1
jedi==0.19.2
joblib==1.4.2
jupyter_client==8.6.3
jupyter_core==5.7.2
matplotlib-inline==0.1.7
morfeusz2 @ http://download.sgjp.pl/morfeusz/20250316/Windows/64/morfeusz2-1.99.10-20250316-cp311-cp311-win_amd64.whl#sha256=f25cc9ba10945516d69297c7decab419acf38f81a1ba4db5938d40b7cea25905
nest-asyncio==1.6.0
nltk==3.9.1
packaging==24.2
parso==0.8.4
platformdirs==4.3.7
prompt_toolkit==3.0.50
psutil==7.0.0
pure_eval==0.2.3
Pygments==2.19.1
python-dateutil==2.9.0.post0
pywin32==310
pyzmq==26.3.0
regex==2024.11.6
six==1.17.0
stack-data==0.6.3
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
typing_extensions==4.12.2
wcwidth==0.2.13
